.sedans {
    border: 10px solid red;
    background-color: hsl(31, 77%, 52%);
    text-align: center;
    border-radius: 20px;
    }
.suvs {
    border: 10px solid black;
    background-color: hsl(184, 100%, 22%);
    text-align: center;
    border-radius: 20px;
}
.luxury {
    border: 10px solid green;
    background-color: hsl(179, 100%, 13%);
    text-align: center;
    border-radius: 20px;
}
.sedan-button {
    border-radius: 20px;
    font-size: 20px;
    background-color: hsl(0, 0%, 95%);
    color:  hsl(31, 77%, 52%);;
    text-align: center;
}
.suv-button {
    border-radius: 20px;
    font-size: 20px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);;
    text-align: center;
}
.luxury-button {
    border-radius: 20px;
    font-size: 20px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    text-align: center;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
}
h1 {
    color: hsl(0, 0%, 95%);
}