.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: flex;
    margin-top: 50px;
    padding: 0 30px;
    width: 700px;
}
.sedans {
    padding: 30px;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    }
.suvs {
    padding: 30px;
    background-color: hsl(184, 100%, 22%);
    border-radius: 10px;
}
.luxury {
    padding: 30px;
    background-color: hsl(179, 100%, 13%);
    border-radius: 10px;
}
.sedan-button {
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    color:  hsl(31, 77%, 52%);;
}
.suv-button {
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);;
    text-align: center;
}
.luxury-button {
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

h1 {
    color: hsl(0, 0%, 95%);
}

.paddy {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

